
@{
Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
    <meta content="summary_large_image" name="twitter:card">
    <meta content="website" property="og:type">
    <meta content property="og:description">
    <meta content="https://sy21v21b09.preview-postedstuff.com/V2-2QU6-MFdl-iVm2-0iLH/" property="og:url">
    <meta content="https://pro-bee-beepro-thumbnails.s3.amazonaws.com/messages/820856/804801/1702173/7744174_large.jpg" property="og:image">
    <meta content property="og:title">
    <meta content name="description">
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Content/css/dangkybn.css">

</head>
<body data-new-gr-c-s-check-loaded="14.1063.0" data-gr-ext-installed="">
    <div class="bee-page-container">
        <div class="bee-row bee-row-1">
            <div class="bee-row-content">
                <div class="bee-col bee-col-1 bee-col-w12">
                    <div class="bee-block bee-block-1 bee-heading">
                        <h1 style="color:#19bf69;direction:ltr;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;font-size:29px;font-weight:700;letter-spacing:normal;line-height:120%;text-align:center;margin-top:0;margin-bottom:0;">
                            <span class="tinyMce-placeholder">
                                E-HEALTHCARE
                            </span>
                        </h1>
                    </div>
                    <div class="bee-block bee-block-2 bee-heading">
                        <h1 style="color:#4e9378;direction:ltr;font-family:TimesNewRoman, 'Times New Roman', Times, Beskerville, Georgia, serif;font-size:23px;font-weight:700;letter-spacing:normal;line-height:180%;text-align:center;margin-top:0;margin-bottom:0;">
                            <span class="tinyMce-placeholder">
                                HỆ THỐNG CHĂM SÓC VÀ TƯ VẤN Y TẾ
                            </span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="bee-row bee-row-3">
            <div class="bee-row-content">
                <div class="bee-col bee-col-1 bee-col-w12">
                    <div class="bee-block bee-block-1 bee-divider">
                        <div class="center" style="border-top:1px solid #BBBBBB;width:100%;">
                        </div>
                    </div>
                    <div class="bee-block bee-block-2 bee-form">
                        <form accept-charset="UTF-8" action="ThayDoiMatKhau" autocomplete="on" enctype="multipart/form-data" method="post" target="_self">

                            <div class="bee-form-row">
                                <div class="bee-field bee-field-id_7vt432">
                                    <input id="id_7vt432" name="email" readonly type="email" value="@ViewBag.email" style="display: none">
                                    <label for="id_7vt432">
                                        Nhập Mật Khẩu Mới
                                    </label>
                                    <input id="id_7vt432" name="password" required="" type="password">
                                    <label for="id_7vt432">
                                        Nhập Lại Mật Khẩu Mới
                                    </label>
                                    <input id="id_7vt432" name="newpassword" required="" type="password">
                                </div>
                            </div>







                            <div class="bee-form-row">
                                <div class="bee-field bee-field-id_gmaap1">
                                    <div class="bee-button-container">
                                        <button id="id_gmaap1" name="submit" type="submit" value="Tiếp Tục">
                                            Tiếp Tục
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Code injected by live-server -->
    <script type="text/javascript">
	// <![CDATA[  <-- For SVG support
	if ('WebSocket' in window) {
		(function () {
			function refreshCSS() {
				var sheets = [].slice.call(document.getElementsByTagName("link"));
				var head = document.getElementsByTagName("head")[0];
				for (var i = 0; i < sheets.length; ++i) {
					var elem = sheets[i];
					var parent = elem.parentElement || head;
					parent.removeChild(elem);
					var rel = elem.rel;
					if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
						var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
						elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
					}
					parent.appendChild(elem);
				}
			}
			var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
			var address = protocol + window.location.host + window.location.pathname + '/ws';
			var socket = new WebSocket(address);
			socket.onmessage = function (msg) {
				if (msg.data == 'reload') window.location.reload();
				else if (msg.data == 'refreshcss') refreshCSS();
			};
			if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
				console.log('Live reload enabled.');
				sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
			}
		})();
	}
	else {
		console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
	}
	// ]]>
    </script>
</body>
</html>
