<link rel="stylesheet" href="~/Content/css/addbv.css">
@{
    ViewBag.Title = "QuanLyBV";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
    <div class="bee-page-container">
        <div class="bee-row bee-row-1">
            <div class="bee-row-content">
                <div class="bee-col bee-col-1 bee-col-w10">
                    <div class="bee-block bee-block-1 bee-form">
                        <form accept-charset="UTF-8" action="Addbv" autocomplete="on" enctype="multipart/form-data" method="post" target="_self">
                            <div class="bee-form-row">
                                <div class="bee-field bee-field-id_l8lhma">
                                    <label for="id_l8lhma">
                                        ID
                                    </label>
                                    <input id="id_l8lhma" name="id" required type="text">
                                </div>
                            </div>
                            <div class="bee-form-row">
                                <div class="bee-field bee-field-id_2nztkd">
                                    <label for="id_2nztkd">
                                        T&ecirc;n b&ecirc;nh Viện
                                    </label>
                                    <input id="id_2nztkd" name="name" required type="text">
                                </div>
                            </div>
                            <div class="bee-form-row">
                                <div class="bee-field bee-field-id_akl8oi">
                                    <label for="id_akl8oi">
                                        &Dstrok;ịa Chỉ
                                    </label>
                                    <input id="id_akl8oi" name="diachi" required type="text">
                                </div>
                            </div>
                            <div class="bee-form-row">
                                <div class="bee-field bee-field-id_ezh2ek">
                                    <label for="id_ezh2ek">
                                        H&igrave;nh Thức Tổ Chức
                                    </label>
                                    <input id="id_ezh2ek" name="httc" required type="text">
                                </div>
                            </div>
                            <div class="bee-form-row">
                                <div class="bee-field bee-field-id_o6un9b">
                                    <div class="bee-button-container">
                                        <button id="id_o6un9b" name="submit" type="submit" value="Th&ecirc;m">
                                            Th&ecirc;m
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>