
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>
        Đăng ký trở thành bác sĩ
    </title>
    <meta content="summary_large_image" name="twitter:card">
    <meta content="website" property="og:type">
    <meta content property="og:description">
    <meta content="https://sy21v21b09.preview-postedstuff.com/V2-2QU6-MFdl-iVm2-mxK9/" property="og:url">
    <meta content="https://pro-bee-beepro-thumbnails.s3.amazonaws.com/messages/820856/804801/1702173/7763569_large.jpg" property="og:image">
    <meta content property="og:title">
    <meta content name="description">
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <link rel="stylesheet" href="~/Content/css/dangkybs.css">
</head>
<body>
    <div class="bee-page-container">
        <div class="bee-row bee-row-1">
            <div class="bee-row-content">
                <div class="bee-col bee-col-1 bee-col-w12">
                    <div class="bee-block bee-block-1 bee-heading">
                        <h1 style="color:#1b856b;direction:ltr;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;font-size:30px;font-weight:700;letter-spacing:normal;line-height:120%;text-align:center;margin-top:0;margin-bottom:0;">
                            <span class="tinyMce-placeholder">
                                E-HealthCare&ZeroWidthSpace;
                            </span>
                        </h1>
                    </div>
                    <div class="bee-block bee-block-2 bee-heading">
                        <h1 style="color:#165a6d;direction:ltr;font-family:TimesNewRoman, 'Times New Roman', Times, Beskerville, Georgia, serif;font-size:27px;font-weight:700;letter-spacing:normal;line-height:120%;text-align:center;margin-top:0;margin-bottom:0;">
                            <span class="tinyMce-placeholder">
                                Hệ Thống Tư Vấn &amp; Ch&abreve;m S&oacute;c Y Tế&ZeroWidthSpace;
                            </span>
                        </h1>
                    </div>
                    <div class="bee-block bee-block-3 bee-heading">
                        <h1 style="color:#393d47;font-size:23px;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;line-height:120%;text-align:left;direction:ltr;font-weight:700;letter-spacing:normal;margin-top:0;margin-bottom:0;">
                            <span class="tinyMce-placeholder">
                                &ZeroWidthSpace;
                            </span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="bee-row bee-row-2">
            <div class="bee-row-content">
                <div class="bee-col bee-col-2 bee-col-w1">
                </div>
                <div class="bee-col bee-col-3 bee-col-w1">
                </div>
                <div class="bee-col bee-col-4 bee-col-w1">
                </div>
                <div class="bee-col bee-col-5 bee-col-w1">
                </div>
                <div class="bee-col bee-col-6 bee-col-w1">
                </div>
                <div class="bee-col bee-col-7 bee-col-w1">
                </div>
                <div class="bee-col bee-col-8 bee-col-w1">
                </div>
                <div class="bee-col bee-col-9 bee-col-w1">
                </div>
            </div>
        </div>
        <div class="bee-row bee-row-3">
            <div class="bee-row-content">
                <div class="bee-col bee-col-1 bee-col-w12">
                    <div class="bee-block bee-block-1 bee-form">
                        <form accept-charset="UTF-8" action="DangKybs" autocomplete="on" enctype="multipart/form-data" method="post" target="_self">
                            <div class="bee-form-row">
                                <div class="bee-field bee-field-id_nnidzc">
                                    <label for="id_nnidzc">
                                        Họ T&ecirc;n
                                    </label>
                                    <input id="id_nnidzc" name="name" required type="text">
                                </div>
                            </div>
                            <div class="bee-form-row">
                                <div class="bee-field bee-field-id_ig4wmr">
                                    <label for="id_ig4wmr">
                                        Email
                                    </label>
                                    <input id="id_ig4wmr" name="email" required type="email">
                                </div>
                            </div>
                            <div class="bee-form-row">
                                <div class="bee-field bee-field-id_ig4wmr">
                                    <label for="id_ig4wmr">
                                        CV
                                    </label>
                                    <input id="id_ig4wmr" name="file" required type="file">
                                </div>
                            </div>
                            <div class="bee-form-row">
                                <div class="bee-field bee-field-id_tmmwqt">
                                    <div class="bee-button-container">
                                        <button id="id_tmmwqt" name="submit" type="submit" value="Gửi">
                                            Gửi
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
