 #cont-obj{
    width: 300px;
    height: 180px;
    background-color: #F9F9F9;
    margin: 15px;
    border-radius: 25px;
    cursor: pointer;
    float: left;
}
#cont-obj-img{
    margin-left: 35%;
    width: 70px;
    height: 70px;
}
#cont-obj-info{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#cont-obj:hover{
    background-color: #00FFE0;
}
.xemthem:hover{
    cursor: pointer;
    background-color: grey;
}
#filter{
    background-color: #00FFE0;
    text-align: center;
     font-family: 'Times New Roman';
     margin: 5px 10px;
}
#chuyenkhoa{
    width: 300px !important;
    margin-left: 20px;
}
button{
    font-family: 'Times New Roman';
    font-size: 12px;
    border-radius: 10px;
}
button:hover{
    background-color: black;
    color: white;
}
